@import url(../style.css);

#slider{
    position: relative;
    margin-top: var(--header-height);
    transition: all 1s ease;
}

#slider .slider-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
}

#slider .slider-icon:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
}

#slider .slider-icon svg{
    font-size: 60px;
    color: var(--white);
}

#slider .slider-icon.right{
    right: 0;
}

#slider .slider-panel{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 50%; 
}

@keyframes swipe-left{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0);
    }
}

.slider__content{
    color: var(--white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 8px;
}

.movie-info .name{
    font-size: 32px;
    margin-bottom: 30px;
}

.movie-info .time{
    margin-bottom: 10px;
}

.movie-info .description{
    margin-bottom: 20px;
}

.movie-play .about,
.movie-play .play{
    max-width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0 20px;
    font-weight: bold;
}


.movie-play svg{
    font-size: 16px;
    margin-right: 15px;
    transform: translateY(10%);
}

.movie-play .play svg{
    color: var(--black);
}

.movie-play .about{
    margin-left: 10px;
    background-color: var(--grey);
    color: var(--white);
} 